Programa Proyecto Capstone/Guardar Datos/flowProyecto.json
[
    {
        "id": "b6e6793f7366bcac",
        "type": "tab",
        "label": "ProyectoCapstone",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9811a76a78f497b8",
        "type": "mqtt in",
        "z": "b6e6793f7366bcac",
        "name": "NivelAgua",
        "topic": "ProyectoCapstone/EquipoInes/Samsung/UAM/Sensores/NivelAgua",
        "qos": "2",
        "datatype": "auto",
        "broker": "c3f5d02abd7910c9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "89abaf9ed476dc35"
            ]
        ]
    },
    {
        "id": "89abaf9ed476dc35",
        "type": "change",
        "z": "b6e6793f7366bcac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 120,
        "wires": [
            [
                "8cea71d707edbfb9",
                "f6e93828b3cf8bdd"
            ]
        ]
    },
    {
        "id": "4d49184af6fb67a5",
        "type": "mqtt in",
        "z": "b6e6793f7366bcac",
        "name": "Temperatura",
        "topic": "ProyectoCapstone/EquipoInes/Samsung/UAM/Sensores/Temperatura",
        "qos": "2",
        "datatype": "auto",
        "broker": "aa3107cbb6f29f72",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "9c00393d5b90a002"
            ]
        ]
    },
    {
        "id": "9c00393d5b90a002",
        "type": "change",
        "z": "b6e6793f7366bcac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 200,
        "wires": [
            [
                "8cea71d707edbfb9",
                "1c98360b0dcc70c6"
            ]
        ]
    },
    {
        "id": "4c8b6ba634e95cd5",
        "type": "mqtt in",
        "z": "b6e6793f7366bcac",
        "name": "Turbidez",
        "topic": "ProyectoCapstone/EquipoInes/Samsung/UAM/Sensores/Turbidez",
        "qos": "2",
        "datatype": "auto",
        "broker": "aa3107cbb6f29f72",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 280,
        "wires": [
            [
                "c729e8629b03e006"
            ]
        ]
    },
    {
        "id": "c729e8629b03e006",
        "type": "change",
        "z": "b6e6793f7366bcac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 280,
        "wires": [
            [
                "8cea71d707edbfb9",
                "e3ddc995d89e8a71"
            ]
        ]
    },
    {
        "id": "8cea71d707edbfb9",
        "type": "debug",
        "z": "b6e6793f7366bcac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "f6e93828b3cf8bdd",
        "type": "influxdb out",
        "z": "b6e6793f7366bcac",
        "influxdb": "376746b7af5ffbb2",
        "name": "NivelAgua",
        "measurement": "nivelAgua",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 830,
        "y": 120,
        "wires": []
    },
    {
        "id": "1c98360b0dcc70c6",
        "type": "influxdb out",
        "z": "b6e6793f7366bcac",
        "influxdb": "c6cdb8d68c3af12e",
        "name": "Temperatura",
        "measurement": "temperatura",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 830,
        "y": 200,
        "wires": []
    },
    {
        "id": "e3ddc995d89e8a71",
        "type": "influxdb out",
        "z": "b6e6793f7366bcac",
        "influxdb": "432f76d5d7c285df",
        "name": "Turbidez",
        "measurement": "turbidez",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 820,
        "y": 280,
        "wires": []
    },
    {
        "id": "c3f5d02abd7910c9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "UsuarioProyectoCap-03",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "aa3107cbb6f29f72",
        "type": "mqtt-broker",
        "name": "LocalHost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "hugo-sub-nodered",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "376746b7af5ffbb2",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "nivelAgua",
        "name": "Nivel del agua",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "c6cdb8d68c3af12e",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "temperatura",
        "name": "Temperatura del sistema",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "432f76d5d7c285df",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "turbidez",
        "name": "Nivel de turbidez",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    }
]
